{% extends "admin/change_list.html" %}

{% block result_list %}
<div id="computer-list-container">
    {{ block.super }}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    function updateTable() {
        fetch('{% url "computer_list_partial" %}')
            .then(response => response.text())
            .then(html => {
                // Предполагаем, что частичный шаблон возвращает только строки <tr>
                document.getElementById('result_list').getElementsByTagName('tbody')[0].innerHTML = html;
            });
    }
    setInterval(updateTable, 5000);
</script>
{% endblock %}